%nav.navbar.navbar-default
  .container-fluid
    .navbar-header
      = navbar_link_to root_path do
        %span.glyphicon.glyphicon-home
        = t('layouts.menu_bar.all_stations')
      = navbar_link_to near_fx_innovation_bixi_stations_path do
        %span.glyphicon.glyphicon-record
        = t('layouts.menu_bar.closest_to_fx')